body {
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background: linear-gradient(
    to right bottom,
    #000000 20%,
    #05bbf7,
    #006ea1c2,
    #000000
  );
}
