.topnav {
  display: block;
  overflow: hidden;
  background-color: #33333300;
}
.topnav a {
  text-decoration: none;
  float: left;
  display: block;
  margin: 10px;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  transition: 0.1s;
  border: 1px solid transparent;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #dddddd1e;
  border: 1px solid #e0f401;
  color: rgb(191, 255, 0);
}
