@media screen and (max-width: 850px) {
  .header {
    padding: 500px 0px 650px 0px;
  }
  .mini-cards {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  button {
    background-color: $primary-color;
    box-shadow: 0px 2px 20px $shadow-color;
    color: #000000;
    text-shadow: 0px 0px 0px #000000ab;
    transition: 0.5s;
    transform: scale(1.2);
  }
}

@media screen and (max-width: 440px) {
  .header {
    padding: 250px 0px 520px 0px;
  }

  .topnav a {
    float: none;
    width: 100%;
  }

  .aboutmename {
    padding: 40px 0px 0px 0px;
  }
}
